/* 폰트 */
@font-face {
    font-family: 'twayair';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twayair.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'twayair';
}

/* 배경 */
#test {
    height: auto;
    min-height: 100vh;
    background: #BE93C5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #E3F3FD, #fde3f3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #E3F3FD, #fde3f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/*  textarea */
textarea {
    resize: none;
}
/* navbar */

/* post_list */
.imglist { 
    width: 300px; 
    height: 300px; 
    object-fit: cover;
}

.listmargin {
    margin-left: 110px;
}

a:hover {
    text-decoration-line: none;
}
h5 {
    margin-top: 10px;
}
.listtext {
    color: black;   
    padding: none;
}

.clearfix{
    clear: both;
}

.footer {
    margin-top: 100px;
    height: 20px;
    margin-bottom: 40px;
    margin-left: 10px;
    margin-right: 10px;
}

.rightbutton {
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: 10px;
    margin-right: 80px;
}

.button-text-align{
    text-align: right;
}


/* mypost, mycomment */
.styled-table tbody tr:nth-of-type(even):hover{
    background-color: #f0f0f0
}

.styled-table tbody tr:nth-of-type(odd):hover {
    background-color: #f0f0f0
}

.styled-table tbody tr:nth-of-type(odd) {
    background-color: #ffffff;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #E3F3FD;
}

.styled-table {
    margin: 100px 0;
    font-size: 1em;
    min-width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 20px 20px 0px 0px;
}

.styled-table thead tr th.table-border{
    border-radius: 20px 20px 0px 0px;
}

.styled-table thead tr {
    background-color: #4791FF;
    color: #ffffff;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #4791FF;
}
.styled-table tbody tr td.table-no {
    width: 20px;
    text-align: center;
}

.styled-table tbody tr td.table-content {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* 라인수 */
    -webkit-box-orient: vertical; 
    word-wrap:break-word; 
    line-height: 2.5em; 
}

.styled-table tbody tr td.table-price{
    width: 150px;
    text-align: right;
}

.styled-table tbody tr td.table-date{
    width: 100px;
    text-align: right;
}

.no-post-comment {
    color:#6c757d;
    margin: 150px 0;
    text-align: center;
    font-size: 2em;
    min-width: 100%;
}


/* post_detail */
.detail-background {
    background-color: #FFF; 
    width: 700px;

}

hr {
    width: 550px; 
    text-align: center;
}
.align-center { 
    text-align: center; 
    margin-top: 20px;
    margin-bottom: 30px;
}

.align-right-90 {
    width : 90%; 
    text-align: right; 
}

.detail-price {
    font-size: x-large;
}

.detail-content {
    width:500px;
    margin:auto;
    text-align:left;
    white-space:pre-line;
}

.detail-btn {
    margin-top: 30px;
    margin-bottom: 20px;
    margin-right: 95px;
    text-align: right;
}

/* comment_update&delete */
.comupdate1-btn {
    margin-top: 10px;
    margin-bottom: 5px;
    margin-right: 95px;
    text-align: right;
}

.comupdate2-btn {
    text-align: right;
    margin-right: 95px;
}

.com-hidden {
    display: none;
}



/* comment_create*/
.comment {
    margin-left: 80px;
}

.comcreate-btn {
    margin-left: 10;
    margin-bottom: 30px;
}

#comment-content {
    width: 65%;
    height: 20%;
}

/* post_create */
.contact{
    padding: 4%;
}
.col-md-3{
    background: #4791FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, 	#c471ed, #4791FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, 	#c471ed, #4791FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 4%;
    color: #ffffff;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
.contact-info{
    margin-top:10%;
}
.contact-info img{
    margin-bottom: 10%;
}
.contact-info h2{
    margin-bottom: 10%;
}
.col-md-9{
    background: #fff;
    padding: 3%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    resize: none;
}
.contact-form label{
    font-weight:600;
}