{% extends 'base.html' %}

{% block content %}
<!-- 검색 창 -->
<div class="row justify-content-end my-3" style="position:fixed; 
right:30px; top:60px;">
    <div class="col-4 input-group">
        <input type="text" style="position:relative; width:1000px;" class="form-control kw" value="{{ kw|default_if_none:'' }}">
        <!-- 미디어 쿼리 등 반응형 웹 추가 필요 - 창 크기 작아졌을때 검색창은 안 뜨게 -->
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="btn_search">찾기</button>
        </div>
    </div>
</div>

<!-- 내가 쓴 게시글, 댓글 수 -->

<!--리스트창-->
{% if page_obj %} 
    <div class="container-sm">
        <table class="styled-table">
            <thead>
            <tr>
                <th colspan="3">{{ user.last_name }}님이 남긴 댓글({{ mycomment|length}})</th>
            </tr>
            </thead>
            <tbody>
            {% for comment in page_obj %}
            <tr class="active-row">
                <td class="table-no">{{ forloop.counter }}</td>
                <td>
                    <a href="{% url 'market:postdetail' comment.post_id.id  %}">{{ comment.content }}</a></span>
                </td>
                <td class="table-date">
                    {% if comment.modify_date %}
                        {{ comment.modify_date }}           
                    {% else %}
                        {{ comment.create_date|date:'m.d' }}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
<div class="no-post-comment">
    작성하신 댓글이 없습니다 :(<br>
        <a href="/market/">게시글 구경하러 가기!</a>
</div>
{% endif %}



<!-- 페이징처리 시작 -->
<ul class="pagination justify-content-center">
<!-- 이전페이지 -->
{% if page_obj.has_previous %}
<li class="page-item">
    <a class="page-link" data-page="{{ page_obj.previous_page_number }}" href="?page={{ page_obj.previous_page_number }}">이전</a>
</li>
{% else %}
<li class="page-item disabled">
    <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
</li>
{% endif %}
<!-- 페이지리스트 -->
{% for page_number in page_obj.paginator.page_range %}
{% if page_number >= page_obj.number|add:-5 and page_number <= page_obj.number|add:5 %}
{% if page_number == page_obj.number %}
<li class="page-item active" aria-current="page">
    <a class="page-link" data-page="{{ page_number }}" href="?page={{ page_number }}">{{ page_number }}</a>
</li>
{% else %}
<li class="page-item">
    <a class="page-link" data-page="{{ page_number }}" href="?page={{ page_number }}">{{ page_number }}</a>
</li>
{% endif %}
{% endif %}
{% endfor %}
<!-- 다음페이지 -->
{% if page_obj.has_next %}
<li class="page-item">
    <a class="page-link" data-page="{{ page_obj.next_page_number }}"  href="?page={{ page_obj.next_page_number }}">다음</a>
</li>
{% else %}
<li class="page-item disabled">
    <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
</li>
{% endif %}
</ul>
<!-- 페이징처리 끝/작성 버튼 -->



<!-- 검색 폼  -->
<form id="searchForm" method="get" action="{% url 'market:postlist' %}">
<input type="hidden" id="kw" name="kw" value="{{ kw|default_if_none:'' }}">
<input type="hidden" id="page" name="page" value="{{ page }}">
</form>


{% endblock %}
{% block script %}
<script type='text/javascript'>
//console.log('자바스크립트 초입');
//document.write('자바스크립트 초입');
$(document).ready(function(){
$(".page-link").on('click', function() {
    $("#page").val($(this).data("page"));
    $("#searchForm").submit();
});

$("#btn_search").on('click', function() {
    //console.log('버튼 입력');
    //document.write('버튼 입력');
    $("#kw").val($(".kw").val());
    $("#page").val(1);  // 검색버튼을 클릭할 경우 1페이지부터 조회한다.
    $("#searchForm").submit();
});
});
</script>
{% endblock %}