{% extends "base.html" %}
{% block content %}
<h3>{{ post.post_title }}</h3>
{{ post.user_id.last_name }}<br>
{% if post.modify_date %}
<div class="badge badge-light p-2 text-left mx-3">
    <div>{{ post.modify_date }}(수정)</div>
</div>
{% else %}
<div class="badge badge-light p-2 text-left mx-3">
    <div>{{ post.create_date }}</div>
</div>
{% endif %}
<div>
    {% if post.image %}
    <img src="{{ post.image.url }}" alt="{{ post.image }}">
    <!--resize height="300" width="500"-->
    {% else %}
    <p>이미지가 없습니다</p>
    {% endif %}
    <p>{{ post.content }}</p>
    <p>{{ post.price }}원</p>
</div>

<div>
    {% if request.user == post.user_id %}
    <a href="{% url 'market:postupdate' post.id  %}">수정</a>
    <a href="{% url 'market:postdelete' post.id  %}">삭제</a>
    {% endif %}
</div>

<hr>
<h5>{{ post.comment_set.count }}개의 답변이 있습니다.</h5>
<div></div>
<div>
    <ul>
        {% for comment in post.comment_set.all %}
        <br>
        <div>
            
            {{ comment.user_id.last_name }}, {{ comment.content }}<br>

            {% if comment.moify_date %}
                <div>{{ comment.modify_date }}(수정)</div>
            {% else %}
                <div>{{ comment.create_date }}</div>
            {% endif %}

            {% if request.user == comment.user_id %}
            <a href="{% url 'market:commentupdate' comment.id  %}">수정</a>
            <a href="{% url 'market:commentdelete' comment.id  %}">삭제</a>
            {% endif %}
        </div>
        {% endfor %}
    </ul>
</div>
<form action="{% url 'market:commentcreate' post.id  %}" method="post" {% if not user.is_authenticated %}hidden{% endif %}>
    {% csrf_token %}
    {% include "form_errors.html" %}
    <textarea name="content" id="content" rows="5" value="{{ form.username.value|default_if_none:'' }}" required></textarea>
    <input type="submit" value="답변등록">
</form>
{% endblock %}