{% extends 'base.html' %}
{% load humanize %}
{% block content %}

<br>
<br>

<div class="container rounded detail-background">
    <!-- 게시글 -->
    <br>
    <div class="align-center">
        <h3 class="align-center">{{ post.post_title }}</h3>
        <hr>
        <div class="align-right-90">
         {{ post.user_id.last_name }} | {% if post.modify_date %} {{ post.modify_date }}(수정) {% else %} {{ post.create_date }} {% endif %} 
        </div>

        <br>
        <br>
        
        {% if post.image %}
         <img src="{{ post.image.url }}" alt="{{ post.image }}"> 
        {% else %}
         <img src="/static/img/noimage.png" alt="이미지가 없습니다">
        {% endif %}
        
        <br> 
        <br>

        <p class="detail-price">{{ post.price|intcomma }}원</p>
        <br>
        <div class="detail-content">{{ post.content }}</div>

        {% if request.user == post.user_id %}
        <div class="detail-btn">
            <a class="btn btn-primary" href="{% url 'market:postupdate' post.id  %}" >수정</a>
            <a class="btn btn-primary" href="{% url 'market:postdelete' post.id  %}" >삭제</a>
        </div>
        {% endif %}
    </div>
    
 <hr>

    <!-- 댓글 목록 -->
    <h5 class="comment">{{ post.comment_set.count }}개의 댓글이 있습니다.</h5>

 <hr>

    <!-- 댓글 수정 -->
    {% for comment in post.comment_set.all %}
    <div class="mt-3">
        <div class="comment py-2 text-muted" id="divToggle1{{ comment.id }}">
            <p>{{ comment.user_id.last_name }} | {% if comment.modify_date %} {{ comment.modify_date }}(수정) {% else %} {{ comment.create_date }} {% endif %}</p>
            <p id="comment-list">{{ comment.content }}</p>
            {% if request.user == comment.user_id %}
            <div class="comupdate1-btn">
            <input type="button" class="btn btn-primary" value="수정" id="button1{{ comment.id }}">
            <a class="btn btn-primary" href="{% url 'market:commentdelete' comment.id  %}" >삭제</a>
            </div>
        </div>
        <div class="comment py-2 text-muted com-hidden" id="divToggle2{{ comment.id }}">
            <form method="post" class="post-form my-3" action="{% url 'market:commentupdate' comment.pk %}">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="comupdate2-btn">
                <input type="submit" class="btn btn-primary" value="저장">
                <input type="button" class="btn btn-primary" value="이전" id="button2{{ comment.id }}">
                </div>
            </form>
        </div>
        {% endif %}
        
    </div>
 <hr>
    {% endfor %}

    <!-- 댓글 작성 -->
    <br>
    <form action="{% url 'market:commentcreate' post.id  %}" method="post" {% if not user.is_authenticated %}hidden{% endif %}
    class="most-used-csh">
        {% csrf_token %}
        {% include "form_errors.html" %}
        <textarea class="comment" name="content" id="comment-content" value="{{ form.username.value|default_if_none:'' }}"required></textarea>
        <input type="submit" class="btn btn-primary comcreate-btn" name='create' id='create' value="등록">
    </form>
    </div>
</div>

<!-- 검색 폼  -->
<form id="searchForm" method="get" action="{% url 'market:postlist' %}">
    <input type="hidden" id="kw" name="kw" value="{{ kw|default_if_none:'' }}">
    <input type="hidden" id="page" name="page" value="{{ page }}">
</form>

{% endblock %}
{% block script %}
<script type='text/javascript'>

    $(document).ready(function () {
        $(".page-link").on('click', function () {
            $("#page").val($(this).data("page"));
            $("#searchForm").submit();
        });

        $("#btn_search").on('click', function () {
            $("#kw").val($(".kw").val());
            $("#page").val(1);  // 검색버튼을 클릭할 경우 1페이지부터 조회한다.
            $("#searchForm").submit();
        });
    });
    // 댓글
    $(document).ready(function (){ $("[id^=button1]").click(
        function (e){ 
            var target = $(e.target);
            target.parent().parent().toggle();
            target.parent().parent().next().toggle();
            // $("[id^=divToggle2]").toggle(); 
            // $("[id^=divToggle1]").toggle(); 
        }); 
    });
    $(document).ready(function (){ $("[id^=button2]").click(
        function (e){    
            var target = $(e.target);
            target.parent().parent().parent().toggle();
            target.parent().parent().parent().prev().toggle();
            // $("[id^=divToggle1]").toggle();
            // $("[id^=divToggle2]").toggle(); 
        });
    });
</script>
{% endblock %}
