{% extends 'base.html' %}
{% block content %}
<div class="container contact">
  <div class="row">
    <div class="col-md-3">
      <div class="contact-info">
        <img src="/static/img/cloud.png" width="70" height="58" alt="image" />
        <h2>구름마켓</h2>
        <h4>상품 등록하기</h4>
      </div>
    </div>
    <div class="col-md-9">
      <form method="post" class="post-form my-3" enctype="multipart/form-data" action=".">
        {% csrf_token %}
        {% include "form_errors.html" %}
        <div class="contact-form">
          <div class="form-group">
            <label class="control-label col-sm-2" for="fname">글 제목</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="post_title"
                value="{{ form.post_title.value|default_if_none:'' }}" placeholder="제목을 입력해주세요(50자 내)"
                name="post_title">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-10">
              <input type="file" id="image" value="{{ form.image.value|default_if_none:'' }}" name="image">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="email">가격</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="price" value="{{ form.price.value|default_if_none:'' }}"
                placeholder="가격을 입력해주세요(원)" name="price">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="contentt">글 내용</label>
            <div class="col-sm-10">
              <textarea class="form-control" rows="5" id="content" value="{{ form.content.value|default_if_none:'' }}"
                placeholder="구매일자, 모델명, 흠집 등 자세히 작성해주세요!" name="content"></textarea>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-primary">등록하기</button>
              <input type="button" class="btn btn-primary" value="취소하기" onclick="history.back(-1);">
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}