{% extends "base.html" %}
{% block content %}
<body>
  <div class="register-form mt-5 mb-5">
    <div class="container-sm">
      <div class="row">

        <div class="col-md-8 bg-white">
          <form method="post" class="signupForm" action="{% url 'common:signup' %}">
            {% csrf_token %}
            {% include "form_errors.html" %}
            <div class="form-group">
              <input type="text" class="form-control" name="username" id="username"
                value="{{ form.username.value|default_if_none:'' }}" placeholder="아이디를 입력해주세요">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" name="password1" id="password1"
                value="{{ form.password1.value|default_if_none:'' }}" placeholder="비밀번호를 입력해주세요">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" name="password2" id="password2"
                value="{{ form.password2.value|default_if_none:'' }}" placeholder="비밀번호를 다시 입력해주세요">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="last_name" id="last_name"
                value="{{ form.last_name.value|default_if_none:'' }}" placeholder="이름을 입력해주세요">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="phone" id="phone"
                value="{{ form.phone.value|default_if_none:'' }}" placeholder="전화번호를 입력해주세요">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="address" id="address"
                value="{{ form.address.value|default_if_none:'' }}" placeholder="주소를 입력해주세요">
            </div>
            <button type="submit" class="btn btn-primary float-right">Register</button>
          </form>
        </div>
        <div class="col-md-4 d-none d-md-block">
          <h2 class="text-center pt-5">회원가입</h2>
          <h3 class="text-center"><br><br>또는<br><br><a href="{% url 'common:login' %}"><i>로그인</i></a></h3>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}